button {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30pt;
    color: #cc66ff;
    background-color: wheat;
}
img {
    height: 30%;
    width: 30%;
}
.jelo {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 15pt;
    color: #816e3a;
    background-color: wheat;
}